body {
    padding-top: 5rem;
}

#label1{
    padding: 5px 15px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

#label2{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

label{
    font-weight: bold;
}

.list .mess{
    padding: 10px;
    background-color: forestgreen;
    color: limegreen;
    border-radius: 10px;
}

.list .err{
    padding: 10px;
    background-color: coral;
    color: red;
    border-radius: 10px;
}
